NODE_ENV=development
HOST=localhost
BACKEND_PORT=3001

JWT_ACCESS_TOKEN_SECRET=very-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_SECRET=very-secret-x2
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=fit_friends
PGADMIN_DEFAULT_EMAIL=local@local.local
PGADMIN_DEFAULT_PASSWORD=a12345678
PGADMIN_PORT=8081
DATABASE_URL=postgresql://admin:123456@localhost:5432/fit_friends?schema=public

DEFAULT_USER_NAME=admin
DEFAULT_USER_EMAIL=admin@local.local
DEFAULT_USER_PASSWORD=admin

VITE_FRONTEND_HOST=localhost
VITE_FRONTEND_PORT=3000
VITE_FRONTEND_PREVIEW_PORT=3100
